<div class="birthday-container">
  <h1> I love you, Lali! 😘</h1>
  <p class="wish-message">
    Every single day I feel grateful for you. You’re not just my girlfriend, you’re my best friend, my happiness, and my safe place. No matter how far apart we are, my heart always feels close to yours.
     I love you more than words can ever explain, and I just want you to know that you mean the world to me. ❤️!
  </p>

  <div class="balloons">
    ❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️
    💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕
  </div>

  <button class="celebrate-btn" (click)="playMusic()">Click for Love 🎶</button>
</div>
